.logo-box {
    cursor: pointer;
    transition: 0.5s;
}

.logo-box:hover {
    transform: scale(1.10);
}

.logo-box svg {
    font-size: 50px;
    color: #C7D3D4FF;
}

.footer div ul li .logo-box svg{
    color: #F4FFFDFF;
}