.template {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 100px;
}

.form .password-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: -45px;
    gap: 20px;
}

.show-password {
    font-size: 25px;
}

.form .form-button button {
    width: 55vw;
}

.form-button {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-button button {
    cursor: pointer;
}

.forgot-password-box {
    margin: 30px;
}

.img-uploader-box {
    cursor: pointer;
}

.img-uploader-box img {
    z-index: 5;
    width: 800px;
    height: auto;
}

/* Home styles */
.home-form-box {
    background-color: rgb(228, 215, 197);
    padding: 50px 70px;
    border-radius: 15px;
    margin-top: 50px;
}

.delete-icon {
    position: absolute;
    top: 5%;
    left: 94%;
    height: auto;
    width: 30px;
    color: red;
    background-color: none;
    border: none;  
}

.tasks-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(31, 91, 92); */
    /* margin-bottom: 70px; */
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.tasks-box h3 {
    margin-bottom: 30px;
    color:rgb(43, 43, 90);
}

.tasks-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.task-detail {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 100%;
    padding: 30px 50px;
    justify-content: flex-start;
    text-align: start;
    /* min-width: 65vw; */
    border-radius: 10px;
    margin: 10px 0;
}

.task-main-title h3 {
    color: antiquewhite;
    margin: 0;
}

.pending-tasks{
     background-color: rgb(18, 93, 94);
    padding: 20px;
    margin-bottom: 150px;
    border-radius: 5px;
}

.employee-applied-tasks{
    background-color: rgb(255, 247, 237);
    padding: 20px;
}

.compromises-main-title h3 {
    background-color: rgba(255, 164, 45, 0.799);
    margin: 0;
    padding: 8px 0;
    border-radius: 5px 5px 0 0;
}

.compromises-child > div {
    border-bottom: 1px solid black;
    margin: 50px 0;
    padding-bottom: 50px;
}

.compromises-child .last-child {
    border-bottom: none;
    margin: 50px 0;
    padding-bottom: 0px;
}

.employee-pending-task-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.task-detail p {
    margin: 0;
}

.tasks-list ul h4 {
    text-align: center;
}

.tasks-list ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    align-items: center;  
    /* width: 50%; */
    min-width: 100%;
    /* flex-shrink: 0;  */
    padding: 0 30px;
    margin-bottom: 0;
}

.tasks-list .img-box {
    flex-grow: 1.5;
    flex-basis: 15%;
    min-width: 15%;
}

.tasks-list .text-box {
    flex-grow: 8;
    flex-basis: 80%;
    min-width: 80%;
}

.tasks-list .text-box .task-description {
    display: flex;
    justify-content: center;
    text-align: left;
}

.home-title {
    margin-bottom: 50px;
}

/* Admin styles */

.main-admin {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.admin-users h1 {
    margin-bottom: 40px;
}

.user-user {
    background-color: rgb(183, 206, 183) !important;
    text-align: center !important;
}

.user-employee {
    background-color: cadetblue !important;
}

tr {
    vertical-align: middle;
}

.task-author {
    margin-top: 10px;
}

/* Dropdown header menu styles */
#dropdown-basic {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 12px;
    background-color: rgba(177, 206, 246, 0.792);
    color: black;
    font-size: 30px;
    border-radius: 50px;
}

.dropdown-toggle::after{
    font-size: 15px;
}
/* End of Dropdown header menu styles */
